a:link {
	color: #2C3E50;
	text-decoration: none;
}
a:visited {
	color: #2C3E50;
	text-decoration: none;
}
a:hover {
	color: #2C3E50;
	text-decoration: none;
}
a:active {
	color: #2C3E50;
	text-decoration: none;
}

.content {
    font-family: Georgia,"Times New Roman",times,serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #2C3E50;
    text-align: justify;   
	max-width: 960px;
}

.content-block {
	border-bottom: solid #cacaca 1px;
}

.head {
	text-align: justify;
    margin-top: 50px;
    max-width: 960px;
}

.head-menu {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.head-menu:hover {
	color:#318e9a;
}

.head-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px; 
	font-weight: 350;
}

.head-title:hover {
	color:#318e9a;
}

.img {
	width: 100%;
	margin-top: 6px;
}

.img_title {
	margin-top: 4px;
}

.img_note {
	width: 100%;
}

.note {
    border-bottom: solid #cacaca 1px;   
}

.ref {
	color:#318e9a;
}

.separator {
    color: #2C3E50;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px; 
    max-width: 960px;
    position: relative;    
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #2C3E50;
    text-align: justify;	
}

.title_index {
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: 10px; 
}

.title_feed {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    text-align: justify;	
	color:#318e9a;	
}


ul {
    margin-left: 0;
    padding-left: 0;
}