body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: none;
}
a:active {
	color: #000000;
	text-decoration: none;
}

#main {
	position:absolute;
	left:100px;
	top:60px;
	width:562px;
	height:463px;
	z-index:1;
}

#top {
	position:absolute;
	left:100px;
	top:60px;
	width:562px;
	height:463px;
}

#blog-content {
    font-family: Verdana,sans-serif;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.9;
    text-align: justify;
	position:absolute;
	left:100px;
	top:90px;
	width:960px;
	height:463px;   
}

#blog-note {
    opacity: 0.9;
    text-align: justify;
}

.blog-img-lgd { font-family: Verdana,sans-serif; font-size: 11px; }

.blog-note { font-family: Verdana,sans-serif; font-size: 11px; }

.Style1 {font-size: 12px}
.Style1:hover {color:#318e9a}

.Style2 {font-size: 13px; font-weight:350; font-family:Verdana, Arial, Helvetica, sans-serif}

.note {color:#318e9a}

.ref {color:#318e9a}

.Style3_titre {font-family: Verdana,sans-serif; font-size: 20px; line-height: 24px; color: #318e9a; font-weight: bold;}

.Style3_titre_click {font-family: Verdana,sans-serif; font-size: 20px; line-height: 24px; font-weight: bold;}

.Style3_titre_click:hover {color:#318e9a}

.Style3_link {color: #318e9a}

blockquote {
    border-left: 4px solid #61b6c2;
    margin: 0 0 15px;
    padding: 1px 10px;
}

.blog-mini {
	font-size: 12px;
	width: 570px;
}

.blog-mini-title {
	font-family: Verdana,sans-serif; 
	font-size: 16px;  
	font-weight: bold;
}

.blog-mini-title:hover {
	color:#318e9a;
}

.blog-title {
	font-family: Verdana,sans-serif; 
	font-size: 20px; 
	line-height: 24px; 
	color: #318e9a; 
	font-weight: bold;
}

.content {
    font-family: Verdana,sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
	position: absolute;
	left:100px;
	top:90px;
	width:960px;   
}

.experience {
	font-size: 12px;
	position: absolute;
	left:600px;
	width:700px;
}

.film-title {
	font-family: Verdana,sans-serif; 
	font-size: 16px;  
	font-weight: bold;
	color:#318e9a;	
}

.formation {
	font-size: 12px;
	position: absolute;
	left: 0px;
	width:500px;	
}

.front-img {
	height: 425px;
	width: 640px;
}

.head-menu {
	font-family: Verdana,sans-serif;	
	font-size: 12px;
}

.head-menu:hover {
	color:#318e9a;
}

.head-title {
	font-family: Verdana,sans-serif;
	font-size: 13px; 
	font-weight: 350;
}

.left-content {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 300px;
}

.left-menu { 
	font-family: Verdana,sans-serif;
	font-size: 12px;
}

.left-menu:hover {
	color:#318e9a;
}

.right-content {
	position:absolute;
	top: 0px;
	left: 300px;
	width: 960px;
}

.top {
	position:absolute;
	left:100px;
	top:60px;
	width:562px;
	height:463px;
}
